body {
  background-color: #a93226;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  margin: auto;
  max-width: 1000px;
  padding: 0px 50px 50px;
}

img {
  width: 450px;
  height: auto;
  border: 2px solid white;
}

.title,
.description,
.small-desc,
.recipes,
.center,
.homepage {
  text-align: center;
  color: white;
}

.small-desc {
  text-align: left;
  margin: 50px 0 0 0;
}

.title {
  font-size: 50px;
  text-decoration: underline;
}

.description,
.recipes,
.homepage {
  font-size: 30px;
  font-weight: bold;
}

.recipes {
  font-size: 22px;
}

.bullets {
  list-style-type: none;
}

.ingredients ul li {
  margin: 5px;
}

.steps ol li {
  line-height: 1.2;
  margin: 10px;
}

.homepage {
  width: 150px;
  height: 35px;
  margin: 25px auto;
  border: 2px solid white;
  padding: 10px;
}

.home-btn {
  color: white;
  text-decoration: none;
}

.headings {
  text-decoration: underline;
  font-size: 25px;
  font-weight: bold;
}
